*.iml
.gradle
/local.properties
/.idea/AndroidProjectSystem.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deviceManager.xml
/.idea/inspectionProfiles/
/.idea/libraries
/.idea/markdown.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/studiobot.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/release
.externalNativeBuild
.cxx
local.properties
